<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <link rel="stylesheet" href="https://unpkg.com/material-ui@latest/dist/material-ui.min.css">
</head>
<body>
  <div class="mui-container">
    <%- include('./header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, Dear deer</h3>
  <p>You Win 100000000 dengi</p>
</div>

<%- include('./footer.ejs') %>
  </div>
</body>
</html>